body{
	font-family: 'Mukta', sans-serif;
	background-color: #6a6fff;
	color:#e7e9ff;
	padding : 0px 20px;
}
*{
	transition: letter-spacing 0.2s;
	padding: 0px;
	margin: 0px;
}
*:focus{
	outline: 3px solid #131438;
}

#title-side{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#center{
	/* centering the div */
	max-width: 1200px;
	margin:auto;
	/* aligning the inside items i.e. the two divs */
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 100vh;
}

#login-form{
	background-color: #7175ee;
	display: flex;
	flex-direction: column;
	padding: 50px;
	border-radius: 6px;
	justify-content: space-around;
	box-shadow: #050a42 4px 4px 20px 0.2px;
}

#login-form > *{
	margin-bottom: 25px;
}

#logo{
	font-family: sans-serif;
	font-size: 90px;
	color: #FBF9FF;
}

#login{
	color: #e7e9ff;
	font-size: 30px;
	margin-left: 20px;
}

p{
	font-size: 30px;
	color:#cacdf1;
	text-align: center;
}

.input-fields{
	
	background-color: transparent;
	color: #e7e9ff;
	padding: 10px 20px;
	padding-right: 20px;
	border: none;
	border-bottom: 2px solid #cacdf1a4;
}
.input-fields::placeholder{
	color:white;
	opacity: 30%;
}
.input-fields:hover, .input-fields:focus{
	outline: none;
}

input{
	font-size: 20px;
}

input[type="submit"]{
	border:none;
	background-color: #131438;
	color:#cacdf1;
	padding: 10px 20px;
	margin-top: 10px;
	border-radius: 5px;
	margin-bottom: 5px !important;
}
input[type="submit"]:hover, input[type="submit"]:focus{
	cursor: pointer;
	letter-spacing: 1px;
}

@media only screen and (max-width: 900px){
	#center{
		flex-direction: column;
	}
	#login-form{
		padding: 20px;
	}
	.input-fields{
		padding: 5px 10px;
	}

}